* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}

body {
    font-family: "Inter", sans-serif;
}
/* global */
.container {
    width: 80%;
    padding: 15px 0 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
main {
    color: #d3d3d3;
}
body {
    background-color: #191919;
}

/* nav bar */
.logo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    text-decoration: none;
    background: linear-gradient(to right, #13b0f5, #e70faa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-links a i {
    font-size: 25px;
    color: #a7a7a7;
    transition:
        color 0.3s,
        transform 0.3s;
}
.social-links a i:hover {
    color: #ececec;
    transform: scale(1.1);
}

.header-links {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav {
    width: 70%;
}

.social-links {
    width: 20%;
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
nav a {
    text-decoration: none;
    color: #a7a7a7;

    font-size: 20px;
    transition:
        color 0.3s,
        font-size 0.3s;
}
nav a:hover {
    color: #ececec;
    font-size: 23px;
}
.social-links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

/* index file */
.hero {
    padding: 100px 0;
}

.avatar {
    width: 330px;
    height: 330px;
    padding: 6px;
    background: linear-gradient(to bottom, #e70faa, #00c0fd);
    border-radius: 50%;
    right: 0;
}
.avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}
.h-title h1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.hero span {
    font-size: 60px;
}
.my-name-color {
    background: linear-gradient(to right, #13b0f5 3%, #e70faa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Technologies file */

.t-title {
    height: 75px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.technologies,
.tools {
    padding: 15px 0;
    flex-direction: column;
}
.tech-logos,
.tools-logos {
    padding: 10px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tech-logos div,
.tools-logos div {
    width: calc(100% / 6);
    padding: 10px 0px;
}

.tools-logos .github img {
    width: 88px;
    height: 89px;
}

/* projects file */

.project-header {
    padding-bottom: 70px;
}

.p-section {
    flex-direction: column;
    padding: 0px;
}

.p-title {
    text-align: center;
    padding: 15px 0px;
}
.p-cards {
    padding: 0px;
}
.p-cards .card {
    width: calc(95% / 3);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    color: #cccccc;
    background-color: #363636;
    margin-bottom: 10px;
    border-radius: 6px;
}
.text-card {
    padding: 10px;
}
.link-p {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.link-p a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}
.link-p a:hover {
    text-decoration: underline;
}
.link-p i {
    padding-right: 3px;
}
.demo i {
    color: #fcfcfc;
    font-size: 13px;
}
.github i {
    color: #ffffff;
    font-size: 20px;
}
.Tech-p {
    font-size: 15px;
}

.img-card {
    width: 100%;
    padding: 5px;
}
.img-card img {
    width: 100%;
    border-radius: 6px;
    transition: all 0.3s;
}
.img-card img:hover {
    transform: scale(103%);
}

/* Contact file */

.contact {
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.contact-form {
    height: 500px;
    width: 600px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    background-color: #363636;
    padding: 15px;
    margin-top: 20px;
    border-radius: 6px;
}

.message,
.message label {
    display: block;
}

.message textarea {
    color: #d3d3d3;
    caret-color: #cccccc;
    background-color: #5b5b5b;
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    height: 70px;
    max-height: 150px;
    min-height: 70px;
    margin-left: 80px;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    outline: none;
}

fieldset {
    border: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

fieldset label {
    margin-right: 60px;
    font-size: 18px;
}

fieldset input {
    color: #d3d3d3;
    background-color: #5b5b5b;
    caret-color: #cccccc;
    flex-grow: 2;
    height: 40px;
    max-width: 300px;
    border-radius: 6px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
}

fieldset input::-webkit-input-placeholder,
.message textarea::-webkit-input-placeholder {
    color: #d3d3d3;
    font-size: 17px;
}

fieldset input::-moz-placeholder,
.message textarea::-moz-placeholder {
    color: #d3d3d3;
    font-size: 17px;
}

fieldset input:-ms-input-placeholder,
.message textarea:-ms-input-placeholder {
    color: #d3d3d3;
    font-size: 17px;
}

fieldset input::-ms-input-placeholder,
.message textarea::-ms-input-placeholder {
    color: #d3d3d3;
    font-size: 17px;
}

fieldset input::placeholder,
.message textarea::placeholder {
    color: #d3d3d3;
    font-size: 17px;
}

button {
    width: 130px;
    height: 40px;
    font-size: 20px;
    background-color: #5b5b5b;
    color: #d3d3d3;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 3px 2px #191919;
    align-self: center;
}
button:active {
    box-shadow: none;
    transform: translateY(2px);
}

/* About file*/

.about {
    padding-bottom: 30px;
}
.about h1 {
    padding-bottom: 20px;
}
.about p {
    width: 70%;
    line-height: 25px;
    font-size: 18px;
    padding-bottom: 20px;
}
.about button {
    width: 140px;
    height: 40px;
    font-size: 20px;
    border-radius: 6px;
    background: linear-gradient(to right, #13b0f5 3%, #e70faa);
    color: white;
    transition: all 0.3s;
}
.about button:hover {
    box-shadow:
        0 8px 25px rgba(109, 56, 181, 0.45),
        0 4px 12px rgba(0, 180, 255, 0.35);
}
.about button:active {
    box-shadow: 0 4px 12px rgba(109, 56, 181, 0.35);
    transform: translateY(2px);
}

.education {
    width: 100%;
}
.education h1 {
    padding-bottom: 20px;
}
.edu-details-top,
.edu-details-bottom,
.date,
.edu-details {
    display: flex;
    flex-wrap: wrap;
}
.edu-details {
    height: 60px;
    flex-direction: column;
    justify-content: space-between;
}

.edu-details-top {
    justify-content: space-between;
}
.edu-details-top h2 {
    font-weight: 200;
}
.date {
    align-items: center;
}
.date i,
.edu-details-bottom i {
    margin-right: 10px;
    font-weight: 300;
}

.edu-details-bottom h5{
    font-weight: 400;
}