* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* global */
.container {
    width: 80%;
    padding: 15px 0 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
main * {
    color: #d3d3d3;
}
body {
    background-color: #191919;
}

/* nav bar */
.logo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    background: linear-gradient(to right, #13b0f5, #e70faa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-links a i {
    font-size: 25px;
    color: #a7a7a7;
    transition: color 0.3s, transform 0.3s;
}
.social-links a i:hover {
    color: #ececec;
    transform: scale(1.1);
}

.header-links {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav {
    width: 70%;
}

.social-links {
    width: 20%;
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
nav a {
    text-decoration: none;
    color: #a7a7a7;

    font-size: 20px;
    transition: color 0.3s, font-size 0.3s;
}
nav a:hover {
    color: #ececec;
    font-size: 23px;
}
.social-links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

/* index file */
.hero {
    padding: 100px 0;
}

.avatar {
    width: 330px;
    height: 330px;
    padding: 6px;
    background: linear-gradient(to bottom, #e70faa, #00c0fd);
    border-radius: 50%;
    right: 0;
}
.avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}
.h-title h1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.hero span {
    font-size: 60px;
}
.my-name-color {
    background: linear-gradient(to right, #13b0f5 3%, #e70faa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Technologies file */

.t-title {
    height: 75px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.technologies,
.tools {
    padding: 15px 0;
    flex-direction: column;
}
.tech-logos,
.tools-logos {
    padding: 10px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tech-logos div,
.tools-logos div {
    width: calc(100% / 6);
    padding: 10px 0px;
}

.tools-logos .github img {
    width: 88px;
    height: 89px;
}

/* projects file */
.project-header {
    padding-bottom: 70px;
}

.p-section {
    flex-direction: column;
    height: 100%;
}

.p-title {
    text-align: center;
    padding: 15px 0px;
}

.p-cards .card {
    width: calc(95% / 3);
    height: fit-content;
    color: #cccccc;
    background-color: #363636;
    margin-bottom: 10px;
    border-radius: 6px;
}
.text-card {
    padding: 10px;
}
.link-p {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.link-p a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}
.link-p a:hover {
    text-decoration: underline;
}
.link-p i{
    padding-right: 5px;
}
.demo i{
    color: #FCFCFC;
}
.github i{
    color: #FFFFFF;
}
.Tech-p {
    font-size: 15px;
}
